In [11]:
import pandas as pd
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

In [17]:
df_train = pd.read_csv('../input/train.csv')
df_test = pd.read_csv('../input/test.csv')

In [9]:
df_train.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
468,469,0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
795,796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
643,644,1,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
646,647,0,3,"Cor, Mr. Liudevit",male,19.00,0,0,349231,7.8958,NaN,S
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S
575,576,0,3,"Patchett, Mr. George",male,19.00,0,0,358585,14.5000,NaN,S
810,811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S

In [14]:
X = df_train[['Pclass']].values
y = df_train['Survived'].values

In [15]:
model = DummyClassifier()
model.fit(X, y)
y_pred = model.predict(X)

score = accuracy_score(y, y_pred)
print("score: %.2f" % score)

score: 0.54

## Prediction

In [21]:
X = df_test[['Pclass']].values

df_test['Survived'] = model.predict(X)
df_test[ ['PassengerId', 'Survived'] ].to_csv('../output/dummy.csv', index=False)

## How to make prediction on Kaggle?

![](../images/kaggle1.png)
![](../images/kaggle2.png)
![](../images/kaggle3.png)
![](../images/kaggle4.png)